{% extends "base.html" %}

{% block main_content %}

<script>
    document.write(`<img src=/images/${Math.floor(Math.random() * 6) + 1}.gif height=250 width=500>`);
</script>
<!-- <img src=/images/hackerman.gif height=250 width=500> -->
<!-- <p>Welcome<p> -->

<h1>Links</h1>
<ul>
    <li><a href="https://github.com/drdragon79">Github</a></li>
    <li><a href="https://twitter.com/drdragon79">Twitter</a></li>
    <li><a href="https://tryhackme.com/p/akshay79">TryHackMe</a></li>
    <li><a href="https://app.hackthebox.com/users/509924">HackTheBox</a></li>
</ul>
<br></br>

{% endblock main_content %}
